<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appointment_scheduler</title>
    <script src = "/JS/script.js" defer></script>
    <link rel = "stylesheet" href = "/styles/styles.css">

</head>
<body>
    <form id="appointment-form" action="/submit" method="post" novalidate>
    <fieldset>
        <legend>Appointment Scheduler</legend>
        <label for="fname">First Name:</label>
        <span class = "error" id = "fname-error">First name Required</span>
        <input type="text" id="fname" name="fname"><br><br>

        <label for="lname">Last Name:</label>
        <span class = "error" id = "lname-error">Last name Required</span>
        <input type="text" id="lname" name="lname"><br><br>

        <label for="date">Date:</label>
    
        <input type="date" id="date" name="date"><br><br>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time"><br><br>

        <input type="submit" value="Schedule Appointment">
        <button id = "admin-button"  type="button" onclick="window.location.href='/admin'">view all appointments</button>
    </fieldset>
    </form>
    
</body>
</html>